.circleRating {
  background-color: var(--black);
  border-radius: 50%;
  padding: 2px;
  width: 20%;
  .CircularProgressbar-text {
    font-size: 34px;
    font-weight: 700;
    fill: #fff;
  }
  .CircularProgressbar-trail {
    stroke: transparent;
  }
}
